* {
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
}

header {
  padding: 20px;
  text-align: center;
  background: #536ec7;
  color: #fff;
}

nav {
  display: flex;
  background-color: #d4b49c;
}

nav ul {
  padding: 14px 20px;
  text-decoration: none;
  list-style-type: none;
  display: flex;
  margin: 0 auto;
}

nav ul li {
  margin-right: 7px;
}

main {
  display: flex;
}

aside {
  flex: 25%;
  background-color: #94cfcc;
  padding: 20px;
  flex-wrap: wrap;
}

#aboutMe {
  text-align: center;
}

section {
  flex: 75%;
  background-color: #cddffa;
  padding: 20px;
}

footer {
  padding: 1px;
  text-align: center;
  background: #536ec7;
  color: #fff;
}


.project-img {
  width: 100%;
  margin-right: 20px;
}

.featureDesign {
  height: 485px;
  width: 475px;
  padding: 10px;
  border: 3px solid black;
  background-color: rgb(224, 219, 244);
}


.moreWebDesigns {
  height: 400px;
  width: 350px;
  padding: 10px;
  border: 3px solid black;
  background-color: rgb(224, 219, 244);
}

/* When using `max-width` as the breakpoint, you must go from widest to narrowest to avoid conflict */

/* Tablets - header changes color */
@media screen and (max-width: 992px) {
  header {
    background: #772014;
  }
}

/* Large smartphones - navbar changes color */
@media screen and (max-width: 768px) {
  nav {
    background-color: #bb8588;
  }
}

/* Small smartphones - image placeholders change color */
@media screen and (max-width: 576px) {
  .sample-img {
    background-color: #8ac4ff;
  }
}